---
// Component Imports
import MainHead from '../components/MainHead.astro'
import Card from '../components/Card.jsx';
import Nav from '../components/Nav.jsx';

const products = Astro.fetchContent('./products/*.md')
.filter(({ published_at }) => !!published_at)
.sort((a, b) => new Date(b.published_at) - new Date(a.published_at));

---
<html lang="en">
  <head>
    <MainHead/>
  </head>
  <body class="bg-white dark:bg-gray-900">
  <div class="container mx-auto xl:px-20 xl:pb-8">
    <Nav client:load/>
    <div class="flex flex-col justify-center py-10 md:mb-16 items-center w-full">
        <h1 class="text-4xl font-Kumbh font-bold uppercase text-gray-900 dark:text-white">products</h1>
    </div>
    <!-- Creats cards from products md files -->
    <div class="flex sm:items-center sm:flex-col">
      {products.map((product)=>(
          <Card product={product} client:load/>
      ))}
    </div>
  </div>
  </body>
</html>
