---
import logo from '../../public/favicon.png'
const { title = 'Ecommerce | Home' } = Astro.props;

---

<meta charset="UTF-8">
<title>{title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, height=device-height,viewport-fit=cover,initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/_astro/src/styles/global.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="shortcut icon" href={logo} type="image/x-icon" />